<div class="form-group">
  <%= f.label :text, "Sisällön ydinkohta" %>
  <%= f.text_area :text, :class => "form-control" %>
  <%= link_to_remove_association 'Poista sisällön ydinkohta', f, { wrapper_class: 'form-group' } %>
</div>