<div class="form-group">
  <%= f.label :name, "Osapuoli" %>
  <%= f.text_field :name, :class => "form-control" %>
  <%= link_to_remove_association 'Poista osapuoli', f, { wrapper_class: 'form-group' } %>
</div>