<h1>Admin</h1>

<table class = "table">
<thead>
<tr>
	<th>Model
	</th>
	<th>Action
	</th>
	<th>Link
	</th>
</tr>
</thead>

<tbody>
<tr>
	<td>Aikakausi
	</td>
	<td>Uusi
	</td>
	<td><%= link_to 'Uusi aikakausi', new_era_path %></li>
	</td>
</tr>
<tr>
	<td>Aikakausi
	</td>
	<td>Index
	</td>
	<td><%= link_to 'Aikakausi-index', eras_path %></li>
	</td>
</tr>
<tr>
	<td>Aikajakso
	</td>
	<td>Uusi
	</td>
	<td><%= link_to 'Uusi aikajakso', new_level1_topic_group_path %></li>
	</td>
</tr>
<tr>
	<td>Aihe
	</td>
	<td>Uusi
	</td>
	<td><%= link_to 'Uusi aihe', new_topic_path %></li>
	</td>
</tr>

</tbody>
</table>